
 @import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Sacramento&display=swap');
/* html tags*/
 h1{
   
   font-family: 'Sacramento', cursive;
   font-size: 5.65rem;
   margin: 50px auto 0 auto;
   color: #66BFBF;
 

}
h2{
    font-size: 2.5rem;
    color: #66BFBF;
    font-family: 'Merriweather', serif;
    font-weight: normal;
    padding-bottom: 10px;
}
h3{
    color: #11999E;
    font-family: 'Merriweather', serif;
}
hr{
    border-style: none;
    border-top-style: dotted;
    color: #EAF6F6;
    border-width: 6px;
    width: 4%;
    margin: 100px auto 100px auto;
}
p{
    line-height: 2;
}

body{
   margin: 0%;
   text-align: center;
   font-family: 'Merriweather', serif;
   color: #40514E;

   
}
/*containers*/
.top-container{
    background-color:#EFFFFD;
    position: relative;
    padding-top: 100px;
   
}

.middle-container{
  margin: 100px 0 ;

}
.bottom-container{
    margin: 100px 0 0 0;
    background-color: #66BFBF;
    padding: 50px 0 20px;
    
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
   
}

.pro{
    text-decoration: underline;
}
.intro{
    width: 30%;
    margin: auto;
}
.nems{
    text-decoration: none;

}
.nems:hover{
    color: black;
}
.sms{
    text-decoration: none;
}
.sms:hover{
    color: black;
}

/*clouds*/
.top-cloud{
 position: absolute;
 right: 300px;
 top: 40px;
}
.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.profile-pic{
    width: 150px;
    border-radius: 100px;
}
/*images design of body*/
.skill-design{
    width: 25%;
    border-radius: 100px;
    float: left;
    margin-right: 30px;
}
.skill-drawing{
    width: 15%;
    float: right;
    margin-left: 30px;
}
.education{
    margin: 100px auto 100px auto;
    text-align: center;
}
.education-sslc{
    margin: 10px auto 10px auto;
}
.education-puc{
    margin: 10px auto 10px auto;
}

.contact-message{
    width: 36%;
    margin: 40px auto 60px;
}

/*contact button*/
.btn{
    text-decoration: none;
    color: white;
    background-color: #11999E;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    font-family: 'Merriweather', serif;
}
.btn:hover{
    background-color: #66BFBF;

}
/* styling the footer logos*/
.insta-logo{
    width: 40px;
    padding: 5px;
}
.face-logo{
    width: 40px;
    padding: 5px;
}
.git-logo{
    width: 40px;
    padding: 5px;
}
.insta-logo:hover{
    opacity: 60%;
}
.face-logo:hover{
    opacity: 60%;
}
.git-logo:hover{
    opacity: 60%;
}

/*copy right style*/
.copy-right{
    color: #EAF6F6;
    font: 0.75rem;
    padding: 20px 0 20px;
}    
.contact-me{
 text-align: center;
}   

